In [1]:
import sys
print(sys.executable)

c:\Users\claud\GIT\Proyecto_PowerBI\venv\Scripts\python.exe

In [2]:
import pandas as pd
import numpy as np
 
# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Para gestión de fechas
# -----------------------------------------------------------------------
from datetime import datetime

In [3]:
df_pickle = pd.read_pickle("../data/data_limpio/reservas_hoteles_limpio.pkl")
df_pickle.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15000 entries, 0 to 5171
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       15000 non-null  object
 1   nombre           15000 non-null  object
 2   apellido         15000 non-null  object
 3   mail             15000 non-null  object
 4   competencia      15000 non-null  bool
 5   fecha_reserva    15000 non-null  datetime64[ns]
 6   inicio_estancia  15000 non-null  datetime64[ns]
 7   final_estancia   15000 non-null  datetime64[ns]
 8   id_hotel         15000 non-null  int64
 9   nombre_hotel     15000 non-null  object
 10  valoración       15000 non-null  float64
 11  nombre_ciudad    15000 non-null  object
 12  precio_noche     15000 non-null  float64
 13  id_cliente       15000 non-null  object
 14  id_ciudad        15000 non-null  int64
dtypes: bool(1), datetime64[ns](3), float64(2), int64(2), object(7)
memory usage: 1.7+ MB

In [4]:
# Contar hoteles únicos
num_hoteles_unicos = df_pickle['nombre_hotel'].nunique()
print(f"Hoteles únicos: {num_hoteles_unicos}")

Hoteles únicos: 29

In [5]:
# Asignar IDs únicos correctamente
df_pickle['id_hotel'] = pd.factorize(df_pickle['nombre_hotel'])[0]

# Verificar si los IDs únicos coinciden con el número de hoteles únicos
num_ids_unicos = df_pickle['id_hotel'].nunique()
print(f"IDs únicos asignados: {num_ids_unicos}")

print(df_pickle)

IDs únicos asignados: 29
                                id_reserva          nombre   apellido  \
0     40c4cb55-d1f5-407b-832f-4756b8ff77b4           Maite  Calatayud
1     f2ce8df5-7844-43e1-8c0f-97ce7a208f21           Tecla      Bonet
2     57d4515a-447d-4067-afcb-9bdcf4e4e915         Amílcar     Andrés
3     ccbd9fe9-5a60-4f6f-bed3-73a7158ecba7            Joan    Vazquez
4     99c3dc4f-663c-45f7-849a-ac9313f3746a           Chelo       Flor
...                                    ...             ...        ...
5167  e856adee-838c-4031-920c-05ec5f1e32e6          Jesusa   Espinosa
5168  77134049-6e4f-49b0-a6f8-93b7466b1c22            Cruz    Hurtado
5169  19aef6f3-3e85-4719-9dff-b768d9bfe5a9  Jose Francisco     Cortes
5170  aa092c3e-7fe6-4985-a5a8-cacd38554b1b            Toño    Narváez
5171  6d1f590c-ae87-4582-bc99-9b8cbf1d8e28        Custodia      Marco

                                   mail  competencia fecha_reserva  \
0           maite.calatayud@example.com        False    2025-02-09
1               tecla.bonet@example.com        False    2025-02-08
2            amílcar.andrés@example.com        False    2025-02-02
3              joan.vazquez@example.com        False    2025-02-08
4                chelo.flor@example.com        False    2025-02-09
...                                 ...          ...           ...
5167        jesusa.espinosa@example.com         True    2025-02-22
5168           cruz.hurtado@example.com         True    2025-02-22
5169  jose francisco.cortes@example.com         True    2025-02-22
5170           toño.narváez@example.com         True    2025-02-22
5171         custodia.marco@example.com         True    2025-02-22

     inicio_estancia final_estancia  id_hotel                    nombre_hotel  \
0         2025-03-01     2025-03-02         0               Hotel Monte Verde
1         2025-03-01     2025-03-02         1            Hotel Brisas del Mar
2         2025-03-01     2025-03-02         2            Hotel Camino del Sol
3         2025-03-01     2025-03-02         3          Hotel Puerta del Cielo
4         2025-03-01     2025-03-02         4              Hotel Encanto Real
...              ...            ...       ...                             ...
5167      2025-03-01     2025-03-02        27          ibis Madrid Alcobendas
5168      2025-03-01     2025-03-02        25  ibis Madrid Alcorcon Tresaguas
5169      2025-03-01     2025-03-02        26   ibis budget Madrid Aeropuerto
5170      2025-03-01     2025-03-02        22  Novotel Madrid City Las Ventas
5171      2025-03-01     2025-03-02        20           Novotel Madrid Center

      valoración nombre_ciudad  precio_noche    id_cliente  id_ciudad
0            1.0        Madrid    276.612381      cliente1          1
1            5.0        Madrid    275.225921      cliente2          1
2            1.0        Madrid    269.998444      cliente3          1
3            5.0        Madrid    280.151243      cliente4          1
4            1.0        Madrid    278.243996      cliente5          1
...          ...           ...           ...           ...        ...
5167         4.4        Madrid     85.000000  cliente14901          1
5168         4.4        Madrid     90.000000  cliente14902          1
5169         4.0        Madrid     88.000000  cliente14903          1
5170         4.6        Madrid    173.000000  cliente14904          1
5171         4.6        Madrid    255.000000  cliente14905          1

[15000 rows x 15 columns]

In [6]:
df_pickle.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15000 entries, 0 to 5171
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       15000 non-null  object
 1   nombre           15000 non-null  object
 2   apellido         15000 non-null  object
 3   mail             15000 non-null  object
 4   competencia      15000 non-null  bool
 5   fecha_reserva    15000 non-null  datetime64[ns]
 6   inicio_estancia  15000 non-null  datetime64[ns]
 7   final_estancia   15000 non-null  datetime64[ns]
 8   id_hotel         15000 non-null  int64
 9   nombre_hotel     15000 non-null  object
 10  valoración       15000 non-null  float64
 11  nombre_ciudad    15000 non-null  object
 12  precio_noche     15000 non-null  float64
 13  id_cliente       15000 non-null  object
 14  id_ciudad        15000 non-null  int64
dtypes: bool(1), datetime64[ns](3), float64(2), int64(2), object(7)
memory usage: 1.7+ MB

In [7]:
num_hoteles_unicos = df_pickle['id_hotel'].nunique()
print(f"Número de hoteles únicos: {num_hoteles_unicos}")

Número de hoteles únicos: 29

In [8]:
df_pickle.to_parquet('../data/data_limpio/reservas_hoteles_limpio_final.parquet', engine="pyarrow")

In [9]:
df_pickle_v2 = pd.read_pickle("../data/data_limpio/eventos_madrid.pkl")
df_pickle_v2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295 entries, 0 to 294
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   nombre_evento  295 non-null    object
 1   url_evento     295 non-null    object
 2   codigo_postal  295 non-null    int64
 3   direccion      295 non-null    object
 4   horario        295 non-null    object
 5   organizacion   295 non-null    object
 6   fecha_inicio   295 non-null    datetime64[ns]
 7   fecha_fin      295 non-null    datetime64[ns]
 8   nombre_ciudad  295 non-null    object
dtypes: datetime64[ns](2), int64(1), object(6)
memory usage: 20.9+ KB

In [10]:
df_pickle_v2.to_parquet('../data/data_limpio/eventos_madrid.parquet', engine="pyarrow")